NEXT_PUBLIC_SUPABASE_URL=https://copgtuctijwepryiydug.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=sb_publishable_oBb8MbiqkOI7ZFvHgjuAdA_zXVY6xG_
NEXT_PUBLIC_SITE_URL=http://localhost:3000
REFERRAL_COOKIE_DAYS=30
